html{
	height: 100%;
}

body{
	min-height: 100%;
}
.staff_header{
	background-color: #000066;
	color:white;
	margin-bottom: .2em;
}

.staff-left{
	padding-top: 1em;
	height:100%;
	background-color: #990000;
	color: white;
}

.staff-list{
	/*background-color: #990000 !important;*/
}

.staff-right{
	padding-top: 1%;
	height: 100%;
	background-color: #FFCC99;
}
